<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/programs/IntelliJ/BlockChainIntelligenceGroupTest"><classes><class name="tests.Tests"><methods><include name="verify_added_price_to_cart"/></methods></class></classes></test></suite>